# Don't track some states from browser. In my script, saved in `auth` foler.
auth/

# Use test-urls to keep track of sample test URLs for sources.
test-urls/

# Folder for the script output during tests.
test-out/

# Don’t track Python cache.
__pycache__/